body{
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

* {
    text-decoration: none;
}

.header {
    display: flex;
    background-color: #1F2937;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.header-container {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
}

.links {
    display: flex;
    font-size: 18px;
    gap: 15px;
    padding-right: 100px;
}

.links a {
    color: #E5E7EB;
}

.logo {
    font-size: 30px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: 'Oswald',sans-serif;
}

.one {
    display: flex;
    background-color: #1F2937;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.one-container {
    display: flex;
    gap: 100px;
    flex-shrink: 1;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding-left: 200px;
}

.Big-text {
    font-size: 90px;
    color: #F9FAF8;
    font-weight: 900;
    align-items: flex-start;
    font-family: 'Oswald', sans-serif;
    justify-content: flex-start;
}

.secondary-text {
    font-size: 18px;
    color: #F9FAF8;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    padding-left: 35px;
}

.button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family:'Roboto', sans-serif;
  font-size: 100%;
  height: 40px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.button:disabled {
  cursor: default;
}

.button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gymguy {
    width: 450px;
    height: auto;
    position: relative;
}

.placeholder {
    display: flex;
    border: 5px solid rgb(138, 138, 138);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(138, 138, 138);
    width: 250px;
    height: 80px;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.two {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    height: auto;
}

.info-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.info {
    font-size: 40px;
    justify-content: center;
    font-family: 'Oswald',sans-serif;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.box1 {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    justify-content: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box2 {
    margin-top: 17px;
    width: 200px;
    height: 200px;
    border: 5px solid black;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.subtext {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
}

.section-image {
    display: flex;
    width: 200px;
    height: 200px;
}

.three {
    display: flex;
    height: 500px;
    background-color: #E5E7EB;
    font-family: 'Oswald',sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    font-weight:  lighter;
}

.three-container {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: auto;
    gap: 20px;
}

.quote .cred {
    display: flex;
}

.four {
    display: flex;
    height: 300px;
}

.four-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar {
    display: flex;
    width: 500px;
    height: 100px;
    border: 5px solid #3882F6;
    background-color: #3882F6;
    border-radius: 7px;
    gap: 40px;
    color:#F9FAF8;
    font-family: 'Roboto',sans-serif;
}

.left-four {
    display: flex;
    flex-direction: column;
}

.right-four {
    display: flex;
}